body{
    /* background-image: url(wallpaperflare.com_wallpaper.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;  
    background-position: 100%;
}

.slideshow{
    margin: auto;
    width: 550px;
    margin-top: 50px;
}

.slide{
    display: flex;
    border-radius: 30px;
}
