body{
    /* background-image: url(wallpaperflare.com_wallpaper.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;  
    background-position: 100%;
}

