@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
    /* background-image: url(wallpaperflare.com_wallpaper.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;  
    background-position: 100%;
}

.slideshow{
    margin: auto;
    width: 550px;
    margin-top: 50px;
}

.slide{
    display: flex;
    border-radius: 30px;
}

#navbar{
    font-size:x-large;
    box-shadow: 0 0 15px #CBB26A;
    height: 70px;
}

.icon{
    margin-left: 40px;
    margin-top: 7px;
}

