@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    background-color: black;
    font-family: poppins, sans-serif;


    /* box-shadow: 0 0 0 5px #e2bf57; */


}

.container1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* height: 1590px; */


}


#navbar {
    color: white;
    /* background-color: #e2bf57; */
    background-color: black;


}

#homeIcon {

    display: flex;
    flex-direction: row;
    width: 150px;
    background-color: #FFCC66;
    color: black;
    border-radius: 5px;

}

.logo img {
    width: 200px;
    margin-top: 20px;
}

.side-bar {

    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content : space-between; */
    gap: 55px;
    background-color: black;
    width: 17%;
    box-shadow: 0 0 15px #FFCC66;
    border-radius: 8px;
    /*place it as a side bar on the left above its div*/
    position: fixed;

    top: 0;
    left: 0;
    z-index: 1;
    height: 109%;
    /* margin-top: 3px; */

}


.side-bar a {
    text-decoration: none;
    transition: all 0.1s;
    width: fit-content;
    /* height: 30px; */
}

.side-bar a h3 {
    padding-top: 4px;
}

.side-bar a:hover {
    background-color: #FFCC66;
    color: black;
    border-radius: 5px;
}

.settings {
    padding: 90px 0 0 0;
}

/* .side-bar a:visited {
    background-color: #FFCC66;
    color : black;
} */


.panel {
    background-color: black;
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* box-shadow: 0 0 0 5px #e2bf57;
    border-radius: 5px;  */
}

.panel a {
    text-decoration: none;

}

.panel .icons :hover {

    /* box-shadow: 2px 2px 2px 1px rgba(67, 62, 62, 0.5); */

}


.icons {
    display: flex;
    flex-direction: row;
    color: black;
    width: 170px;
    color: #FFCC66;

}


.head {
    font-family: poppins, sans-serif;
    font-size: 15px;
    margin-left: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
    margin-bottom: 40px;
    /* margin-left: 20px; */
    /* border: 2px solid white; */


}

.settings {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    /* margin-left: 20px; */
}



.content {
    /* margin: 45px 45px; */
    /* background-color: aquamarine; */

    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    margin-top: 100px;
    box-shadow: 0 0 15px #FFCC66;
    border-radius: 15px;
    transition: all 400ms ease-in;
    padding: 20px;




}



.row1 {
    /* background-color: darkblue; */

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;




}


.row1 .icons {
    display: flex;
    flex-direction: column;
    color: black;
    width: 170px;
    color: #FFCC66;
    align-items: center;
    gap: 20px;
}

.row1 .icons .head {

    font-family: poppins, sans-serif;
    font-size: 20px;

}




.page {


    border-radius: 8px;
    transition: all 250ms ease-in;

    justify-content: center;
    align-items: center;
    padding-right: 17px;
    padding-top: 6px;






}

.page:hover {

    /* background-color: #FFCC66;
    color : black; */

    background-color: #1e1701;
}




.coin {

    background-image: url(../../../public/coin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    animation-name: animeL;
    top: 0;

    border-radius: 50%;
    /* border: 10px solid #FFCC66; */
    width: 100px;
    height: 100px;
    position: absolute;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animeL {


    50% {
        top: 90%;
        left: 23%;
    }

}


@keyframes animeR {


    50% {
        top: 90%;
        left: 87%;
    }

}

.loanApp {
    width: 600px;
    height: 92%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px #FFCC66;
    border-radius: 15px;
    transition: all 400ms ease-in;
    padding: 20px;


    /* margin-top: 10px; */
}


#loanTitle {
    margin-top: 120px;
    margin-bottom: 30px;
    font-family: poppins, sans-serif;
    color: #FFCC66;

}

#TransferTitle {
    margin-top: 120px;
    margin-bottom: 30px;
    font-family: poppins, sans-serif;
    color: #FFCC66;

    margin-left: 300px;

}

#TransferTitle {
    margin-top: 120px;
    margin-bottom: 30px;
    font-family: poppins, sans-serif;
    color: #FFCC66;

}

#Transferlist {
    width: 200px;
    margin-left: 310px;
    background-color: #f9f9f906;
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #ffff8a;
    border-color: #FFCC66;
    border-width: 5px;
    border-radius: 5px;
    color: #FFCC66;





}

#Bank {
    visibility: hidden;



}

.Banks {
    width: 800px;

    justify-content: space-around;
    display: flex;

    border: 2px solid white;



}

#Acc1 {
    width: 200px;

}

.accc {
    flex-direction: row;

    color: red;
}

#Acc2 {

    width: 200px;
    margin-left: 600px;
}

#Country {

    visibility: hidden;
}

#loanPanel {

    height: 1590px;
    flex-direction: row;



}




#loanPanel1 {

    height: 1590px;
    flex-direction: column;



}




legend {
    color: #FFCC66;
}

#loanSummary {

    margin-left: 0px;
    margin-top: 120px;
    border-radius: 30px;
    height: 12%;
    width: 800px;
    background: linear-gradient(145deg, #e6b85c, #ffda6d);
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #ffff8a;
    margin-top: 0;
    padding: 5px;
}

#RecentTransfers {

    margin-left: 5px;
    margin-top: 120px;
    border-radius: 30px;
    height: 12%;
    width: 800px;
    background: linear-gradient(145deg, #e6b85c, #ffda6d);
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #ffff8a;
    margin-top: 0;
    padding: 3px;
}


.heading {

    align-items: center;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 0px;
    /* box-shadow: 0 0 15px #FFCC66; */
    border-radius: 15px;
    /* transition: all 400ms ease-in; */
    color: #FFCC66;



}


.headSummary {

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* margin-left: 300px; */
    /* margin-top: 60px; */
    width: 600px;

}

.content h4 {
    font-size: 17px;
    margin-top: -10px;
}


#about {
    justify-content: center;
    color: #FFCC66;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    height: 350px;
    margin-top: 150px;
    margin-left: 50px;
    font-size: larger;
    margin-bottom: 150px;
    width: 650px;
}

#about h1 {
    margin-bottom: 25px;
    text-align: center;

}


.bar {
    height: 90px;
    /* border: 2px solid white;  */
    width: 75%;
    /* margin-top: -70px; */
    display: flex;
    flex-direction: row;
    margin-left: -75px;
    position: fixed;
    /* padding: 10px; */
    justify-content: space-around;
    background-color: black;
}


.loanC {
    /* display: flex;
    flex-direction: row; */
    /* border: 1px solid black; */
    color: black;

}



.loanTypes {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    width: 750px;
    height: 350px;

    justify-content: center;

    align-items: center;

    gap: 70px;

    /* border: 2px solid white ; */

    margin-left: 5px;

    margin-bottom: 150px;

}

.transferTypes {
    display: flex;
    /* flex-direction: row; */


    width: 900px;
    height: 900px;
    margin-left: -40px;

    justify-content: center;

    align-items: center;

    gap: 70px;

    /* border: 2px solid white ; */



    margin-bottom: 150px;

}



.personalCar {
    border-radius: 30px;
    background: linear-gradient(145deg, #e6b85c, #ffda6d);
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #ffff8a;
    width: 290px;
    height: 290px;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 17px;
    font-family: poppins, sans-serif;
    color: black;

    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    transition: all 200ms ease-in;
}

.personalCar:hover {
    background: linear-gradient(145deg, #ffda6d, #e6b85c);
    box-shadow: 6px 6px 20px #ffff8a, -6px -6px 20px #a68542;
}

.personalCar h1 {
    /* margin-top: 20px; */
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

}

.Transfer {
    border-radius: 30px;
    background: linear-gradient(145deg, #e6b85c, #ffda6d);
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #ffff8a;
    width: 290px;
    height: 290px;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 17px;
    font-family: poppins, sans-serif;
    color: black;

    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.Transfer:hover {
    background: linear-gradient(145deg, #ffda6d, #e6b85c);
    box-shadow: 6px 6px 20px #ffff8a, -6px -6px 20px #a68542;
}

.Transfer h1 {
    /* margin-top: 20px; */
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

}

.bar a {
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.bar a:hover {

    background-color: #1e1701;
    border-radius: 10px;

}

#transactionpanel {

    height: 1590px;
    flex-direction: row;
}


.form-control {
    display: flex;


}

.bills {




    width: 100%;
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFCC66;
    justify-content: space-around;

}

.bills:hover {
    box-shadow: 0 0 15px #FFCC66;
    border-radius: 15px;
}

.billsRow1 {
    display: flex;
    width: 100%;
    margin-top: 15 px;
    margin-left: 130px;
    gap: 400px;


}

.PayPill {
    background-color: #FFCC66;
    width: 70px;
    height: 20px;
    color: #1e1701;
    font-family: poppins, sans-serif;
    font-size: 15px;

}

.PayPill:hover {
    cursor: pointer;
}

.billsContet {


    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    margin-top: 100px;
    transition: all 400ms ease-in;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


.billsSeperator {
    height: 1px;
    width: 10%;
    background-color: #FFCC66;
}

.headingBill {

    align-items: center;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 590px;

    border-radius: 15px;
    /* transition: all 400ms ease-in; */
    color: #FFCC66;

}

.panelBills {
    background-color: black;
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;

}

.billSummary {

    margin-top: 120px;

    width: 480px;
    height: 190px;

    background: #FFCC66;
    border-radius: 12px;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* text-align: center; */
}

.billSummary:hover {
    border-radius: 12px;
    background: linear-gradient(145deg, #e6b85c, #ffda6d);
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #fdd843;
}


.row1Bills {
    background-color: darkblue;

    width: 100%;
    height: 50%;
    display: block;
    justify-content: space-between;
    align-items: center;






}

.wraper {
    margin-left: 280px;
    display: flex;
    flex-direction: row;
    gap: 45px;



}




.companyName {
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;

}

#cardSummary {


    margin-top: 120px;
    border-radius: 30px;
    height: 12%;
    background: linear-gradient(145deg, #e6b85c, #ffda6d);
    box-shadow: 6px 6px 20px #a68542, -6px -6px 20px #ffff8a;
    margin-top: 0;
    padding: 15px;
    transition: all 200ms ease-in;
    width: 1000px;
    margin-left: -70px;
}


#cardSummary:hover {
    background: linear-gradient(145deg, #ffda6d, #e6b85c);
    box-shadow: 6px 6px 20px #ffff8a, -6px -6px 20px #a68542;
}


.cardButtons {
    display: flex;
    flex-direction: row;
    width: 320px;
    /* border: 2px solid white; */
    margin-left: 650px;
    margin-top: 20px;
    padding: 10px;

}

.ccRow {
    /* display: flex;
    flex-direction: row; */
    /* border: 1px solid black; */
    color: black;

    padding: 5px;


}


.ccRow:hover {
    /*flip the colors*/

    background-color: #1e1701;
    border-radius: 10px;
    color: #fdd843;
}





.appTitle {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid white; */
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: poppins, sans-serif;
    color: #FFCC66;
    align-items: center;
    justify-content: center;

}

.appTitle h5 {
    font-size: 35px;

}

#cardPanel {

    height: 1360px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;



}


#loanType {
    width: 50%;
    height: 40px;
    margin: 20px 0;
}


.submit {
    width: 35%;
    align-self: self-end;
    margin-top: 50px;
    background-color: #d3b230;
    color: black;
}

.submit:hover {
    background-color: #5e5018;
    color: black;
    cursor: pointer;
    transition: all 200ms ease-in;
}